.content {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 22px;
	color: white;
	line-height: 60px;
}
.textarea-class {
	margin: 8px 0px 32px 0px;
}
.comment-list {
	margin-top: 16px;
	line-height: 30px;
}
.item-name {
	font-size: 18px;
}
.item-comment {
	font-size: 14px;
	color: #c9c7c7;
}
