.login-wrap {
	height: calc(100vh - 118px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #f1f2f7;
}

.login-content {
	width: 320px;
	padding: 10px 30px 32px 30px;
	background: #ffffff;
	border-radius: 10px;
}
